.header {
  position: relative;
  z-index: $zindex-fixed;
  height: 70px;

  &__wrapper {
    width: 100%;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 10px rgba(#000, 0.08);
  }

  &__header.is-fixed &__wrapper {
    box-shadow: 0 1px 2px rgba(#000, 0.16);
    position: fixed;
    top: 0;
    left: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__logo {
    display: inline-flex;
    margin: 15px 0;

    img {
      height: 40px;
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  @include media-breakpoint-up(xl) {
    height: 90px;

    &__wrapper {
      box-shadow: 0 0 0 rgba(#000, 0);
    }

    &__logo {
      margin: 20px 0;
      transition: 0.2s ease-out;

      img {
        height: 50px;
        transition: 0.2s ease-out;
      }
    }

    &__elements {
      margin-right: auto;
    }

    &.is-fixed &__wrapper {
      box-shadow: 0 1px 10px rgba(#000, 0.16);
    }

    &.is-fixed &__logo {
      margin: 10px 0;

      img {
        height: 50px;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    height: 135px;

    &__logo {
      margin: 35px 0;

      img {
        height: 65px;
      }
    }

    &.is-fixed &__logo {
      margin: 16px 0;

      img {
        height: 60px;
      }
    }
  }
}

.btn-search {
  display: none;

  @include media-breakpoint-up(xl) {
    display: inline-flex;
    border: 0;
    background: 0;
    margin-left: 50px;
    font-size: 16px;
    color: $primary;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 20px;
    margin-left: 66px;
  }
}

.btn-hotline {
  display: inline-flex;
  align-items: center;
  color: $primary;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: $primary;
    text-decoration: none;
  }

  img {
    height: 24px;
  }

  span {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    span {
      display: inline;
    }
  }

  @include media-breakpoint-up(xxl) {
    font-size: 20px;
  }
}
